body {
  padding-top: 50px;
  padding-bottom: 50px;

}

#nav.navbar navbar-default navbar-fixed-top{
	background-color: #ffffff;
}

.navbar navbar-default navbar-fixed-top {
	background-color: #ffffff;
}

ul.nav.nav-tabs {
   	border-bottom: 0px;
   	background-color: #ffffff;
   
}

.navbar-default .navbar-nav li a {
	color: #ed5929;
    background-color: #ffffff;
}

.navbar-default .navbar-nav li.active a {
	color: #ed5929;
	background-color: #ffffff;
}

.jumbotron {
	background-color: #ffffff;
}



p.top-tagline {
   font-family: helvetica;
   font-size: 1.5em;  
   float: right;
   margin-right: 150px;
   margin-bottom: -5px;
   margin-top: -20px;

 }

 img.abLogo {
 	width: 100% !important;
 }

 .main-logo {
 	padding-bottom: 10px;


 }

.b-text {
	font-family: helvetica;
	color: #ed5929;
	font-weight: bold;

}

p.bottom-tagline{
	font-weight: bold;
	font-family: helvetica;
	font-size: 2em;  
	float: right;
	margin-right: 150px;
	margin-bottom: 0px;
	margin-top: -10px;

}

.dog-right-img {
	margin: 0;
	height: 150px;
	width: 150px;

}



.dog-left-img {
	height: 150px;
	width: 150px;
	float: left;
	margin: 0;
}

hr {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: #ed5929;
    border-top-color: #ed5929;
}

p.qualified {
	color: #ed5929;
	font-family: helvetica;
	font-size: 1.5em;
	font-weight: bold;
	
}

p.andi-bio {
	

}

p.statement {
	font-family: helvetica;
	font-weight: bold;
	
}

.andy {

	width: 300px;
	height: 400px;
	
}

/* .item {
  	width: 1000px;

}*/

.carousel-inner {
    height: 600px;
    width: 1000px;
    color: #cc0000;
    overflow: visible;
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    color: #cc0000;
}

.carousel-inner .item img {
    width: 460px;
    min-height: 345;
    color: #cc0000;
   /* max-height: none;*/
}

.carousel-caption {
	position: relative;
	left: auto;
	right: auto;
	width: 460px;
    min-height: 345;
	padding-top: 20px;
	color: #cc0000;
	font-size: 1.5em;
	text-shadow: 1px 1px #000000;
}

#caption-3 {
	color: #000000;
}

.divider {
	display: block;
    margin-left: auto !important;
    margin-right: auto !important;
	background-color: #ed5929; 
	color: #ffffff;
	width: auto;
	padding:5px;
    font-family: helvetica, serif;
    font-size: 3em;
    font-weight: bold;


}

.divider h1 {
	text-align: center;
}

.dif-divider {
	display: block;
    margin-left: auto !important;
    margin-right: auto !important;
	text-align: center;
	font-family: helvetica, serif;
	font-weight: bolder;
	color: #000000;
}


img.bottom-logo {
	display: inline;
	margin-top: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
 	width: 90% !important;
 	
 }

  p.copyright{
  	float: right;
    margin-right: 100px;
    margin-left: auto;
 	font-size: 1.5em;
 	margin-top: 64px;
 	font-family: helvetica, serif;
 	font-weight: bold;
 }

 a {
 	text-decoration: none;
 	color: #ffffff;
 	margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 10px;
    padding-right: 10px;

}
  p.resources {
  	display: block;
  	margin-left: auto !important;
    margin-right: auto !important;
  	font-size: 1.2em;
 	margin-top: 65px;
 	margin-bottom: 65px;
 	padding-left:50px;
 	padding-right: 50px;
 	font-family: helvetica, serif;
 	font-weight: normal;


}

li.resources a {
	color:#bc3b10;
	text-decoration: underline;
	font-size: 1.2em;
	font-family: helvetica, serif;
	

}

.source {
	font-weight: bold;
}

ol.list {
	color:#bc3b10;
	text-decoration: underline;
	font-size: 1.2em;
	font-family: helvetica, serif;
	padding-left:65px;
 	padding-right: 65px;
	margin-bottom: 65px;


}

 .foot-spacing.bottomlogo {
 	display: block;
 	margin-left: auto !important;
    margin-right: auto !important;
 }




/*MEDIA QUERIES*/

@media(max-width: 1200px){
	
	}

@media(max-width: 400px){
	 a {
 	text-decoration: none;
 	color: #ffffff;
 	margin-left: auto !important;
    margin-right: auto !important;
 
	
	}
}
